<form action="/" method="POST">
    <label for="first">a=</label>
    <input type="number" name="first">
    <select name="operators" >
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
        <option value="%">mod</option>
      </select>
      <label for="second">b=</label>
     <input type="number"  name="second" >
     <input type="submit" name="submit" value="="> 
     <div style="color:red; display:inline; font-size:32px; ">


